server{
	listen       80
	server_name  hello.com naver.com donghong.com 
	Client_body_size  3M
	file_40x 40x
	file_50x 50x 
	index index.html index2.html

	

	location /  {
	root html;
    allowed_method Get
	index_auto off
    }

	location = / 50x.html {
	root html;
	allowed_method Get
	autoinex off
	}

    location /favicon.ico {
		root  /serve/html
		allowed_method  GET POST
		autoindex off
		index favicon.ico
	}

	location .php {
		root html/cgi-bin

		rewrite( path_t )	path

		cgi( bool ) 		on 
		upload( bool ) 	 	on/off
		upload_path( path_t ) path
		
	}
	

	location /error {
		root  /serve/error
		allowed_method  GET POST
		autoindex on
	}

	location .cpp {
		root  /serve/script
		allowed_method  GET POST DELETE
		autoindex off
	}

}


server {
	listen       10000
	server_name  jhwang2.com

	location / {
		root  /serve/html
		allowed_method  GET
		autoindex off
		index jhwang2.html index.html index.cpp
	}

	location /favicon.ico {
		root  /serve/html
		allowed_method  GET POST
		autoindex off
		index favicon.ico
	}

	location /error {
		root  /serve/error
	}

	location .cpp {
		root  /serve/script
	}
}
