server {
	listen   80 
	server_name hello.com www.hello.com
	Client_body_size  3M 

	location  /upload {
	root html 
    allowed_method GET POST
	index_auto off
    }

	location  /50x.html {
	root html;
	allowed_method GET
	index_auto off
	}

    location /favicon.ico {
		root  /serve/html
		allowed_method  GET POST
		index_auto off
		index favicon.ico
	}
}